.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid #06335e;
    border-radius: 8px;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.heading {
    font-size: 24px;
    text-align: center;
    color: #06335e;
}

.text {
    margin-bottom: 0rem;
    margin-top: 4px;
}

.callNumber {
    font-size: 18px;
}

.callName {
    font-size: 14px;
    color: #9F9F9F;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card:hover {
    background-color: #06335e;
    cursor: pointer;
}

.card:hover .callNumber, .card:hover .callTime, .card:hover svg {
    color: white;
}

.actionBtnBlock {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.actionBtn {
    display: flex;
    padding: .5rem;
    gap: .25rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
}

.archiveBtn {
    background-color: #06335e;
    color: white;
}

.resetBtn {
    background-color: #CBCBCB;
    color: #06335e;
}