.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #06335e;
    border-radius: 8px;
}

.text {
    margin-bottom: 0rem;
    margin-top: 4px;
}

.callNumber {
    font-size: 18px;
}

.callName {
    font-size: 14px;
    color: #9F9F9F;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}